@charset  "utf-8";

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}
header div.top{
    width: 100%;
    height: 40px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(209,209,209,0.7);
}
header div.top ul.left,
header div.top ul.right{
    display: flex;
    gap: 20px;
}
header nav{
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    gap: 10%;
    background: rgba(209,209,209,0.5);
    align-items: center;
    position: relative;
}
header nav > a{
    display: inline-block;
    width: 115px;
    height: 53px;
}
header nav > a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header nav ul.menu{
    display: flex;
    width: 100%;
}
header nav ul.menu > li{    
    position: relative;
    width: 12%;
    text-align: center;
}
header nav ul.menu > li > a{
    display: inline-block;
    height: 100%;
    width: 100%;
    font-family: high1WonchuriTitleM;
    font-size: 18px;
}
header nav ul.menu > li:nth-child(2) > a,
header nav ul.menu > li:nth-child(3) > a,
header nav ul.menu > li:nth-child(6) > a,
header nav ul.menu > li:nth-child(7) > a{
    line-height: 44px;
}
header nav ul.menu > li ul.sub{
    position: absolute;
    left: 0;
    top: 58px;
    width: 100%;
    z-index: 999;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
    /* 392px */
}
header nav ul.menu > li ul.sub li a{
    display: inline-block;
    width: 100%;
    line-height: 35px;
    font-family: high1WonchuriBodyR;
    font-weight: bold;
}
header nav ul.menu > li:nth-child(1) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(2) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(3) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(4) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(5) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(6) ul.sub li:first-child a,
header nav ul.menu > li:nth-child(7) ul.sub li:first-child a{
    padding-top: 7px;
}

header nav div.bg{
    position: absolute;
    left: 0;
    top: 73px;
    width: 100%;
    background: rgba(255,255,255,0.5);
    height: 0;
    transition: 0.3s;    
    /* 400px */
}
header nav ul.menu:hover > li ul.sub{
    height: 392px;
}
header nav ul.menu:hover ~ div.bg{
    height: 400px;
}

div.contents div.info div.main_bg{
    width: 100%;
}
div.contents div.info div.main_bg p img{
    width: 100%;
    object-fit: cover;
}