@charset "utf-8";

@font-face {
    font-family: SangSangClover_Regular;
    src: url(../LeLabo_webfonts/SangSangClover_Regular.ttf) format("opentype");
}
@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../LeLabo_webfonts/NotoSansKR-Regular.ttf) format("opentype");
}
@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../LeLabo_webfonts/NotoSansKR-Bold.ttf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
body {
    background: #eee;
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-size: 14px;
    color: #000;
}

header{
    width: 100%;
    display: flex;
    position: relative;
    background: #fff;
}
header .logo{
    padding: 0 20px;
    box-sizing: border-box;
    width: 187px;
    height: 82px;
    border-right: 1px solid #eee;
    /* ebebeb */
}
header .logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header .logo a img{
    width: 147px;
    height: 43px;
    object-fit: contain;
}

header nav{
    flex: 1 1 50%;
    height: 80px;
}
header nav ul.service{
    display: flex;
    height: 40px;
    align-items: center;
}
header nav ul.service li:first-child{
    flex: 1 1 87%;
    padding: 0 20px;
}
header nav ul.service li:first-child p{
    width: 20px;
    height: 20px;
}
header nav ul.service li:first-child p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
header nav ul.service li:nth-child(2){
    flex: 1 1 13%;
    border-left: 1px solid #eee;
}
header nav ul.service li:nth-child(2) a{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul.service li:nth-child(2) a p:first-child{
    width: 20px;
    height: 20px;
}
header nav ul.service li:nth-child(2) a p:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header nav ul.service li:nth-child(2) a p:nth-child(2){
    font-family: SangSangClover_Regular;
    padding-left: 10px;
    font-size: 15px;
}

header nav ul.menu{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-top: 1px solid #eee;
}

header nav ul.menu > li{
    height: 41px;
}

header nav ul.menu > li > a{    
    font-family: NotoSansKR-Bold;
    font-size: 14px;
    line-height: 40px;
}

header nav ul.menu > li:hover > a{
    border-bottom: 2px solid;
}


header nav ul.menu > li ul.sub{
    width: 100%;
    position: absolute;
    left: 0;
    top: 82px;
    z-index: 999;
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    gap: 15px; 
    background: #fff;
}

header nav ul.menu > li ul.sub > div{
    width: 250px;
    font-size: 0;
    padding: 35px 0 35px 50px;
}

header nav ul.menu > li ul.sub > div a{
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
}

header nav ul.menu > li ul.sub > div a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header nav ul.menu > li ul.sub > div a p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-family: NotoSansKR-Bold;
    z-index: 1000;
}

header nav ul.menu > li ul.sub > li{
    flex: 0 1 50%;
    display: flex;
}

header nav ul.menu > li ul.sub > li > p{
    border-right: 1px solid #eee;
    padding: 35px 50px;
}

header nav ul.menu > li ul.sub > li > p a{
    font-family: NotoSansKR-Regular;
}

header nav ul.menu > li ul.sub > li > p a:hover{
    border-bottom: 2px solid;
}

header nav ul.menu > li ul.sub > li > div{
    padding: 35px 0 35px 50px;
    width: 100%;
}

header nav ul.menu > li ul.sub > li > div > p{
    font-family: NotoSansKR-Regular;
}

header nav ul.menu > li ul.sub > li > div > div{
    display: flex;
    padding-top: 10px;
}

header nav ul.menu > li ul.sub > li > div > div ul{
    flex: 1 1 50%;
}

header nav ul.menu > li ul.sub > li > div > div ul li a{
    line-height: 30px;
    font-family: NotoSansKR-Bold;
    font-size: 13px;
}

header nav ul.menu > li ul.sub > li > div > div ul li a:hover{
    border-bottom: 2px solid;
}

header .cart{
    width: 125px;
    height: 81px;
    border-left: 1px solid #eee;
}
header .cart a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .cart a p:first-child{
    width: 25px;
    height: 25px;
}
header .cart a p:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


div.content{
    height: 700px;
}


footer{
    width: 1440px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
footer ul.footmenu{
    display: flex;
    padding-bottom: 30px;
}
footer ul.footmenu li{
    flex: 1 1 25%;
    font-family: NotoSansKR-Regular;
}
footer ul.footmenu li p{
    padding-bottom: 5px;
}
footer ul.footmenu li a{
    display: block;
    color: #424242;
}
footer div.footinfo p{
    color: #6c6c6c;
    font-size: 13px;
    font-family: NotoSansKR-Regular;
}