@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

div.Con_Top{
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    animation: AfterIntroBG 1s ease-in-out 6s forwards;
    position: relative;
}
/* @keyframes AfterIntroBG {
    100%{background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    }
} */
@keyframes AfterIntroBG {
    100%{background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
    }
}
/* @keyframes AfterIntroBG {
    100%{background-image: linear-gradient(to bottom, #feada6 0%, #f5efef 100%);
    }
} */
/* @keyframes AfterIntroBG {
    100%{background-color: #fba8a4;
        background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
        
    }
} */
/* @keyframes AfterIntroBG {
    100%{background-color: #eec0c6;
        background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    }
} */

div.Con_Top div.Con_Top_Text{
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    animation: ConTopText 1s ease-in-out 6s forwards;
}
@keyframes ConTopText {
    100%{opacity: 0;}
}

div.Con_Top div.Con_Top_Text p.Name{
    width: 60px;
    display: inline-block;
    text-align: center;
    font-size: 80px;
    font-weight: bold;    
    color: #fff;
    word-wrap: break-word;
    line-height: 82px;
    padding-top: 10px;
    animation: Name 2s ease-in-out 1.5s forwards;
    scale: 10;
    opacity: 0;
    transform-origin: center 0;
}

div.Con_Top div.Con_Top_Text p.Name span:first-of-type{
    color: rgb(43, 80, 245);
}
div.Con_Top div.Con_Top_Text p.Name span:nth-of-type(2){
    color: rgb(241, 229, 53);
}
div.Con_Top div.Con_Top_Text p.Name span:nth-of-type(3){
    color: rgb(243, 81, 41);
}
@keyframes Name {
    100%{transform: scale(0.1); opacity: 1;}
}

div.Con_Top div.Con_Top_Text div{
    position: absolute;
    animation: AfterIntroOp 1s ease-in-out 6s forwards;
}
@keyframes AfterIntroOp {
    100%{opacity: 0;}
}

div.Con_Top div.Con_Top_Text div.Name_Word1{  
    top: -7.5px;
    left: 504px;
}
div.Con_Top div.Con_Top_Text div.Name_Word2{
    top: 239px;
    left: 742.5px;
}
div.Con_Top div.Con_Top_Text div.Name_Word3{
    top: 485px;
    left: 911px;
}
div.Con_Top div.Con_Top_Text div > span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 80px;
    font-weight: bold;
}
div.Con_Top div.Con_Top_Text div span.Word_White{
    color: #fff;
    opacity: 0;
    transition: 1s;
    animation: NameWord 1s ease-in-out 3.2s forwards;
}
div.Con_Top div.Con_Top_Text div.Name_Word1 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word1 span.Word_Color{
    color: rgb(43, 80, 245);
}
div.Con_Top div.Con_Top_Text div.Name_Word2 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word2 span.Word_Color{
    color: rgb(241, 229, 53);
}
div.Con_Top div.Con_Top_Text div.Name_Word3 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word3 span.Word_Color{
    color: rgb(243, 81, 41);
}
div.Con_Top div.Con_Top_Text div span.Word_Color{
    width: 0;
    overflow: hidden;
    animation: NameWordColor 1s ease-in-out 3.7s forwards;
}

@keyframes NameWord {
    100%{opacity: 1;}
}
@keyframes NameWordColor {
    100%{width: 500px;}
}

div.Con_Top div.Con_Top_Sign{
    position: absolute;
    left: 0;
    top: 0;
}
div.Con_Top div.Con_Top_Sign span{
    font-size: 80px;
    font-weight: bold;
    position: relative;
    opacity: 0;
}
div.Con_Top div.Con_Top_Sign span:nth-child(1){
    color: rgb(43, 80, 245);
    top: -10px;
    left: 908px;
    animation: SignMoving1 3s ease-in-out 6.5s forwards;
}
div.Con_Top div.Con_Top_Sign span:nth-child(2){
    color: rgb(241, 229, 53);
    top: 239px;
    left: 850px;
    animation: SignMoving2 3s ease-in-out 6.5s forwards;
}
div.Con_Top div.Con_Top_Sign span:nth-child(3){
    color: rgb(243, 81, 41);
    top: 485px;
    left: 780px;
    animation: SignMoving3 3s ease-in-out 6.5s forwards;
}
@keyframes SignMoving1 {
    0%{font-size: 80px;}
    5%{opacity: 1;}
    50%{}
    60%{color: #000;}
    100%{left: 0; top: 20px; font-size: 0px; color: #000; opacity: 0;}
}
@keyframes SignMoving2 {
    0%{font-size: 80px;}
    5%{opacity: 1;}
    50%{}
    60%{color: #000; font-size: 20px;} 
    100%{left: 0; top: 20px; font-size: 0px; color: #000; opacity: 0;}
}
@keyframes SignMoving3 {
    0%{font-size: 80px;}
    5%{opacity: 1;}
    50%{}
    60%{color: #000; font-size: 20px;}
    100%{left: 0; top: 20px; font-size: 0px; color: #000; opacity: 0;}
}

div.Con_Top > p{
    position: absolute;
    left: 0;
    top: 0;
    width: 92px;
    height: 42px;
    padding: 20px;
}
div.Con_Top > p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: ConTopImg 2s ease-in-out 8.5s forwards;
}
@keyframes ConTopImg {
    100%{opacity: 1;}
}