*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

#menu{
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
}
.myContent{
    height: 300px;
}

div.Con_Top{
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    animation: AfterIntroBG 1s ease-in-out 6s forwards;
    position: relative;
}
@keyframes AfterIntroBG {
    100%{background-image: linear-gradient(to top, #4481eb 0%, #66a6ff 100%);}
}

div.Con_Top div.Con_Top_Text{
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
}
div.Con_Top div.Con_Top_Text p.Name{
    width: 60px;
    display: inline-block;
    text-align: center;
    font-size: 80px;
    font-weight: bold;    
    color: #fff;
    word-wrap: break-word;
    line-height: 82px;
    padding-top: 10px;
    animation: Name 2s ease-in-out 1.5s forwards;
    scale: 10;
    opacity: 0;
    transform-origin: center 0;
}
div.Con_Top div.Con_Top_Text p.Name span:first-of-type{
    color: rgb(43, 80, 245);
}
div.Con_Top div.Con_Top_Text p.Name span:nth-of-type(2){
    color: rgb(241, 229, 53);
}
div.Con_Top div.Con_Top_Text p.Name span:nth-of-type(3){
    color: rgb(243, 81, 41);
}
@keyframes Name {
    100%{transform: scale(0.1); opacity: 1;}
}

div.Con_Top div.Con_Top_Text div{
    position: absolute;
    left: 50%;
    top: 0;
    animation: AfterIntroOp 1s ease-in-out 6s forwards;
}
@keyframes AfterIntroOp {
    100%{opacity: 0;}
}

div.Con_Top div.Con_Top_Text div.Name_Word1{
    /* top: -7.5px;
    left: 504px; */
    top: -1%;
    transform: translateX(70%);
}
div.Con_Top div.Con_Top_Text div.Name_Word2{
    /* top: 239px;
    left: 742.5px; */
}
div.Con_Top div.Con_Top_Text div.Name_Word3{
    /* top: 485px;
    left: 911px; */
}

div.Con_Top div.Con_Top_Text div > span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 80px;
    font-weight: bold;
}
div.Con_Top div.Con_Top_Text div span.Word_White{
    color: #fff;
    opacity: 0;
    transition: 1s;
    animation: NameWord 1s ease-in-out 3.2s forwards;
}
div.Con_Top div.Con_Top_Text div.Name_Word1 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word1 span.Word_Color{
    color: rgb(43, 80, 245);
}
div.Con_Top div.Con_Top_Text div.Name_Word2 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word2 span.Word_Color{
    color: rgb(241, 229, 53);
}
div.Con_Top div.Con_Top_Text div.Name_Word3 span.Word_White span,
div.Con_Top div.Con_Top_Text div.Name_Word3 span.Word_Color{
    color: rgb(243, 81, 41);
}
div.Con_Top div.Con_Top_Text div span.Word_Color{
    width: 0;
    overflow: hidden;
    animation: NameWordColor 1s ease-in-out 3.7s forwards;
}
@keyframes NameWord {
    100%{opacity: 1;}
}
@keyframes NameWordColor {
    100%{width: 500px;}
}

div.Con_Top > p{
    position: absolute;
    left: 0;
    top: 0;
    width: 92px;
    height: 42px;
    padding: 10px;
}
div.Con_Top > p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: ConTopImg 2s ease-in-out 6.5s forwards;
}
@keyframes ConTopImg {
    100%{opacity: 1;}
}